<div class="card" style="width: 18rem;">
  <img src="{{ restaurant.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ restaurant.nom }}</h5>
    <p class="card-text">{{ restaurant.Adresse }}</p>
    <p class="card-text">{{ restaurant.Categorie.Categorie }}</p>
    <p class="card-text">{{ delivery_price }} de livraison</p>
    <a href="#" class="btn btn-primary">Acheter</a>
  </div>
</div>