{% extends 'base.html.twig' %}
{% block title %}Suivre votre commande{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/CommandTracker.css') }}">
{% endblock %}

{% block content %}

    {{ parent() }}

    <script>
        var reviewPageUrl = "{{path('leaveReview', { 'id': commande_en_cours.id })}}"
        window.addEventListener("DOMContentLoaded", (e)=>{
            var commandStatus = document.querySelector("#command-status");

            if (commandStatus.attributes["current-status"].value != commandStatus.attributes["delivered-status"].value) {
                setInterval(reloadPage, 30000);
            }
            else {
                setTimeout(redirectToReview, 14000)
            }
        });

        function reloadPage() {
            location.reload(true);
        }

        function redirectToReview() {
            window.location.href = reviewPageUrl;
        }
    </script>

    {% set delivered_ico = '🟢' %}

    {# fill these fields using twig #}
    <div id="command-status" current-status="{{commande_en_cours.status.icon}}" delivered-status="{{delivered_ico}}" hidden></div>

    <div class="container flex-column" style="margin-top:3vh;">
        <h2>Suivi de votre commande chez {{commande_en_cours.restaurant.nom}}</h2>
        <h3><strong>#{{commande_en_cours.id}}</strong></h3>
        <div class="progress" style="border-radius: 1.25rem;height:1.25rem;">
            <div class="progress-bar {{commande_en_cours.status.icon == '🔴' ? 'active' : ''}}" style="width: 20%">En attente</div>
            <div class="progress-bar {{commande_en_cours.status.icon == '🟠' ? 'active' : ''}} bg-success" style="width: 50%" {{commande_en_cours.status.icon not in ['🟠', '🟡', '🟢'] ? 'hidden' : ''}}>En préparation</div>
            <div class="progress-bar {{commande_en_cours.status.icon == '🟡' ? 'active' : ''}} bg-info" style="width: 20%" {{commande_en_cours.status.icon not in ['🟡', '🟢'] ? 'hidden' : ''}}>En livraison</div>
            <div class="progress-bar {{commande_en_cours.status.icon == '🟢' ? 'active' : ''}} bg-danger" style="width: 10%" {{commande_en_cours.status.icon not in ['🟢'] ? 'hidden' : ''}}>Livré</div>
        </div>
        <span>Heure de livraison estimé <strong>{{heure_de_commande}} - {{heure_de_livraison_estimation}}</strong></span>

        {% if commande_en_cours.status.icon == delivered_ico %}
            <div class="alert alert-success" role="alert" style="margin-top: 3vh;">
                Votre repas vous attend en bas!
            </div>
        {% endif %}
        
    </div>

{% endblock %}