{% extends 'base.html.twig' %}
{% block title %}Laisser un commentaire
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="{{ asset('css/LeaveReview.css') }}">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block content %}

	{{ parent() }}

	<script src="{{ asset('js/leaveReview.js') }}"></script>

	<div class="container" style="display: flex; flex-direction: column; height: 50vh; justify-content: center; align-items: center;">

        <div class="content">
            <h2>Qu'avez-vous pensé de votre commande chez
                <strong>{{commande.restaurant.nom}}</strong>
            </h2>

            <div class="row" style="margin-top: 3vh;">
                <div class="col-sm-6">

                    <form action="{{path('leaveReview', {'id':commande.id})}}" method="POST">

                        <div id="rating-block" style="margin-bottom: 2vh;">
                            <h4>Laisser une note ?</h4>

                            {% for i in range(1, 5) %}
                                <button type="button" class="btn-rating btn btn-grey btn-sm" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                            {% endfor %}

                        </div>

                        <input id="input-star" name="stars" value="" hidden>
                        <button type="submit" class="btn btn-success">Envoyer</button>

                    </form>

                </div>
            </div>
        <div>
	</div>

{% endblock %}
