{% extends 'base.html.twig' %}
{% block title %}Profil{% endblock %}


{% block content %}

	{{ parent() }}

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

	<div class="container mt-7" style="margin-top: 5%;">
		<div class="row">
			<div class="col-xl-8 m-auto order-xl-1">
				<div class="card shadow">
					<div class="card-header bg-white border-0">
						<div class="row align-items-center">
							<div class="col-8">
								<h3 class="mb-0">Votre compte</h3>
							</div>
						</div>
					</div>
					<div class="card-body">
						<form role="form" action="updateUser/{{ app.user.id }}" method="POST">
							<h6 class="heading-small text-muted mb-4">Utilisateur</h6>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group focused">
											<label class="form-control-label" for="input-first-name">Prénom</label>
											{{ form_widget(form.prenom , {'data' : app.user.prenom} ) }}
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group focused">
											<label class="form-control-label" for="input-last-name">Nom</label>
											{{ form_widget(form.nom , {'data' : app.user.nom} ) }}
										</div>
									</div>
								</div>
							</div>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<label class="form-control-label" for="input-email">Mail</label>
											{{ form_widget(form.email , {'data' : app.user.email} ) }}
										</div>
									</div>
								</div>
							</div>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group focused">
											<label class="form-control-label" for="input-address">Adresse</label>
											{{ form_widget(form.adresse , {'data' : app.user.adresse} ) }}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4">
										<div class="form-group focused">
											<label class="form-control-label" for="input-country">Pays</label>
											{{ form_widget(form.pays , {'data' : app.user.pays} ) }}
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group focused">
											<label class="form-control-label" for="input-city">Ville</label>
											{{ form_widget(form.ville , {'data' : app.user.ville} ) }}
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="form-control-label" for="input-country">Code postal</label>
											{{ form_widget(form.codePostal , {'data' : app.user.codePostal} ) }}
										</div>
									</div>
								</div>
							</div>
                            <div class="pl-lg-12">
                                <div class="row">
                                    <div class="col-md-12 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
						</form>

						<hr class="my-4">

						<form action="updatePassword" method="POST">
							<h6 class="heading-small text-muted mb-4">Sécurité</h6>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group focused">
											<label class="form-control-label" for="old-input">Ancien mot de passe</label>
											<input name="password" type="password" id="old-input" class="form-control form-control-alternative" placeholder="Ancient mot de passe" value="" required>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group focused">
											<label class="form-control-label" for="new-password">Nouveau mot de passe</label>
											<input name="new-password" type="password" id="new-password" class="form-control form-control-alternative" placeholder="Nouveau mot de passe" value="" required>
										</div>
									</div>
								</div>
								<div class="pl-lg-12">
									<div class="row">
										<div class="col-md-12">
											<button type="submit" class="btn btn-success">Valider</button>
										</div>
									</div>
								</div>
							</div>
						</form>

						<hr class="my-4">

						<form  action="deleteUser" method="POST">
							<h6 class="heading-small text-muted mb-4">Désactiver son compte</h6>
							<div class="container" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
								<div class="row">
									<div class="col">
										<div class="form-group focused">
											<label class="form-control-label" for="old-input">Mot de passe</label>
											<input name="password" type="password" id="old-input" class="form-control form-control-alternative" placeholder="Ancient mot de passe" value="" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group focused">
											<label class="form-control-label" for="new-password">Confirmer le mot de passe</label>
											<input name="confirm-password" type="password" id="new-password" class="form-control form-control-alternative" placeholder="Nouveau mot de passe" value="" required>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<button type="submit" class="btn btn-danger">Désactiver</button>
									</div>
								</div>
							</div>
						</form>

						<hr class="my-4">

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
