{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block content %}

	<script type="text/javascript">
		$(function () {
			$('#colorselector').change(function () {
			$('.colors').hide();
			$('#' + $(this).val()).show();
			});
		});
	</script>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="{{asset('css/register.css')}}" rel="stylesheet">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<form method="POST" action="{{path('app_register')}}">

		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4" style="margin-top: 15%">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Compte</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								{% if error is defined %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}
								<div class="form-group">
									{{ form_widget(form.nom, {'attr': { 'placeholder': 'Nom'}})  }}
								</div>
								<div class="form-group">
									{{ form_widget(form.prenom, {'attr': { 'placeholder': 'Prenom'}})  }}
								</div>
								<div class="form-group">
									{% if emailError == true %}
										<div class="alert alert-danger" role="alert">
											Email déja utilisé
										</div>
									{% endif %}
									{{ form_widget(form.email, {'attr': { 'placeholder': 'Email'}})  }}
								</div>
								<div class="form-group">
									{{ form_widget(form.adresse, {'attr': { 'placeholder': 'Adresse'}})  }}
								</div>
								<div class="form-group">
									{{ form_widget(form.codePostal, {'attr': { 'placeholder': 'codePostal'}})  }}
								</div>
								<div class="form-group">
									{{ form_widget(form.ville, {'attr': { 'placeholder': 'Ville'}})  }}
								</div>
								<div class="form-group">
									{{ form_widget(form.pays, {'attr': { 'placeholder': 'Pays'}})  }}
								</div>
								<div class="form-group">
									{{ form_row(form.roles,{'attr' :{'class' : 'radio-label'} })  }}
								</div>

								<div class="form-group">
									<p>{{ form_row(form.password.first) }}</p>
									<p>	{{ form_row(form.password.second) }}</p>

								</div>





								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								{{ form_widget(form.Inscription)  }}

							</fieldset>
							</div>

					</div>
				</div>
			</div>
		</div>
	</form>

{% endblock %}
