{% extends 'base.html.twig' %}

{% block title %}Cars{% endblock %}

{% block content %}
    <div style="display: flex; flex-flow: row wrap;">
    {% for car in cars %}
        <div class="card" style="width: 18rem;">
            <p>{{ car.title }}</p>
            <p>{{ car.description }}</p>
            <p>{{ car.getCarYear }} years</p>
            <p>{{ car.getNbKm }}km</p>
            <p>{{ car.getNbDays }} days</p>
            <p>{{ car.price }}€</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}